global
  stats timeout 30s
  log stdout format raw local0 info

defaults
  mode http
  timeout connect 5s
  timeout client  30s
  timeout server  30s
  log global

frontend public_frontend
  bind :80
  option httplog

  acl is_internal path_beg /internal

  acl trusted_src src 10.100.0.0/24

  http-request deny if is_internal !trusted_src

  acl restricted_flag path_sub,url_dec -m sub -i /flag.txt

  http-request deny if restricted_flag

  use_backend internal_backend if is_internal
  default_backend fetcher_backend

backend fetcher_backend
  balance roundrobin
  server fetcher1 fetcher:3000 check

backend internal_backend
  balance roundrobin
  server internal1 internal:3001 check
